{% extends 'base.html' %}

{% block content %}
    <h1>About Me</h1>
    <p>
        I am a student at UPB, studying computer science. I am interested in web development and I am learning Flask.
    </p>
    <p>
        I am a beginner in web development, so I am still learning. I am also interested in other programming languages, such as Python, Java, and C++.
    </p>
    <p>
        I am also interested in other fields, such as artificial intelligence, machine learning, and data science. I am learning about these fields in my free time.
    </p>
    <p>
        I am also interested in other things, such as music, movies, and books. I like to listen to music, watch movies, and read books in my free time.
    </p>
    <p>
        My passions also include building robots, playing video games, and watching anime. I like to build robots, play video games, and watch anime in my free time.
{% endblock %}