{% extends "base.html" %}

{% block title %}Gallery - PostIt{% endblock %}

{% block header %}
  <h2>Image Gallery</h2>
{% endblock %}

{% block content %}
  <style>
    .image-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the width of the columns as needed */
      grid-gap: 10px; /* Adjust the gap between images */
    }
    .image-item img {
      max-width: 100%; /* Ensure the image does not exceed its container's width */
      height: auto; /* Maintain aspect ratio */
    }
  </style>

  <div class="image-grid">
    {% for image in images %}
      <div class="image-item">
        <img src="{{ url_for('static', filename='image_uploads/' + image['image']) }}" alt="{{ image['caption'] }}">
        <p>{{ image['caption'] }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
