{% extends "base.html" %}

{% block title %}Gallery - PostIt{% endblock %}

{% block header %}
  <h2>Image Gallery</h2>
{% endblock %}

{% block content %}
  <style>
    .image-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the width of the columns as needed */
      grid-gap: 10px; /* Adjust the gap between images */
    }
    .image-item {
      width: 100%; /* Ensure each item takes full width initially */
    }
    .image-item img {
      max-width: 100%; /* Ensure the image does not exceed its container's width */
      height: auto; /* Maintain aspect ratio */
    }
  </style>

  {% for photo_type, images in photos_by_type.items() %}
    {% set photo_label = photo_options.get(photo_type) %}
    <h3>{{ photo_label }}</h3>
    <div class="image-grid">
      {% for image in images %}
        <div class="image-item {{ image.type }}">
          {% if g.user %}
            <img src="{{ url_for('static', filename='image_uploads/' + image['image']) }}" alt="{{ image['caption'] }}">
          {% else %}
            <img src="{{ url_for('static', filename='low_res_uploads/' + image['low_res_image']) }}" alt="{{ image['caption'] }}">
          {% endif %}
          <p>{{ image['caption'] }}</p>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

{% endblock %}
